/*Por alguna razón,, no me funciona y debo modificar el archivo de App.css con el mismo contenido :( */

.CardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

.message {
    max-width : 1100px;
    background-color: rgba(64, 63, 76, 0.6);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    border-color: green;
    font-size: 1.7em;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.message a {
    color: rgb(173, 233, 191);
    text-decoration: underline;
}
  
.message p, li, h2{
    color: white;
}